{% extends "base.html" %}
{% block content %}
{% load humanize %}
  <div class="container-fluid">
    <form method="post" action="/">
      {% csrf_token %}
      <select name="year">
      {% for year in year_list %}
        <option value="{{ year }}">{{ year }}</option>
      {% endfor %}
      </select>
      <input type="button" value="年のBSを表示する" onclick="moveYear()"/>
      <br />
      <br />
    </form>
  </div>
  <div  class="container-fluid">
    <table class="table table-striped table-hover table-bordered">
      <thead class="thead-light">
        <tr>
          <th class="text-center">勘定科目</th>
          {% for m in month_list %}
            <th class="text-center">{{ m }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for k, v in bs_mid_list.items %}
            <tr>
              <td class="text-center">{{ k }}</td>
              {% for amount in v %}
                <td class="text-right">{{ amount|intcomma }}</td>
              {% endfor %}
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
{% block extra_js %}
  <script type="text/javascript">
    function moveYear(){
      window.location.href=$("select[name='year']").val();
    };
  </script>
{% endblock %}
