{% extends "base.html" %}
{% block content %}
  <form method="post" action="/">
    {% csrf_token %}
    <select name="year">
    {% for year in year_list %}
      <option value="{{ year }}">{{ year }}</option>
    {% endfor %}
    </select>
    <input type="button" value="ok" onclick="moveYear()"/>
  </form>
  <table class="main">
    <tr>
      <th>勘定科目</th>
      {% for m in month_list %}
        <th>{{ m }}</th>
      {% endfor %}
    </tr>
    {% load humanize %}
    {% for k, v in bs_mid_list.items %}
      <tr>
        <td>{{ k }}</td>
        {% for amount in v %}
          <td align="right">{{ amount|intcomma }}</td>
        {% endfor %}
      <tr>
    {% endfor %}
  </table>
{% endblock %}
{% block extra_js %}
  <script type="text/javascript">
    function moveYear(){
      window.location.href=$("select[name='year']").val();
    };
  </script>
{% endblock %}
