{% extends "base.html" %}
{% block content %}
  {% load humanize %}
  <div class="container-fluid">
    <table class="table table-striped table-hover table-bordered table-condensed">
      <thead class="thead-light">
        <tr>
          <th>uid</th>
          <th>勘定科目名</th>
          <th>予算金額(月額)</th>
          <th>特記事項</th>
        </tr>
      </thead>
      <tbody>
        {% for key, valuelist in budget_list.items %}
          <tr>
            <td colspan = '4'>{{ key }}</td>
          </tr>
          {% for val in valuelist %}
            <tr>
              <td>{{ val.uid }}</td>
              <td>{{ val.name }}</td>
              <td>
                {% if val.uid %}
                  <a href={% url 'budget_edit_id' val.uid %}>{{ val.amount }}</a>
                {% else %}
                  {{ val.amount }}
                {% endif %}
              </td>
              <td>{{ val.note }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
