<!DOCTYPE html>
<html>
  <head lang = 'ja'>
    <meta charset="utf-8">
    <title>{{ view_name }}</title>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="js/autocomplete_kana.js"></script>
    <script type="text/javascript">
    // テーブルをストライプ表示に
      $(function() {
          $('tr:nth-child(odd)').addClass('odd');
      });
    </script>
    <style type="text/css">
      <!--
      table{
      	    margin: 15px auto 10px auto;
	          border-collapse: collapse;
    	}
    	th{
    	    padding:5px;
    	    background:#266;
    	    border:1px solid #777;
    	    color: #fff;
    	}
    	td{
    	    border:solid 1px #777;
    	    background:#eee;
    	    padding:5px;
    	}
    	table tr.odd td {
    	    background: #ccc;
    	}
      -->
    </style>
  </head>
  <body>
    <a href="/sdss/">input</a>
    <a href="/sdss/summary/">summary</a>
    <a href="/sdss/bs/">bs</a>
    <a href="/sdss/pl/">pl</a>
    <a href="/sdss/journal/">journal</a>
    <h1>{{ view_name }}</h1>
      <table>
        <tr>
          <th>uid</th>
          <th>日付</th>
          <!-- <th>グループID</th> -->
          <th>借方勘定科目</th>
          <th>借方金額</th>
          <th>貸方勘定科目</th>
          <th>貸方金額</th>
          <th>特記事項</th>
        </tr>
        {% load humanize %}
        {% for d in journal_list %}
          <tr>
            <td>{{ d.id }}</td>
            <td>{{ d.date }}</td>
            <!-- <td>{{ d.group_id }}</td> -->
            <td align="center">{{ d.br_name }}</td>
            <td align="right">{{ d.br_amount|intcomma }}</td>
            <td align="center">{{ d.cr_name }}</td>
            <td align="right">{{ d.cr_amount|intcomma }}</td>
            <td>{{ d.note }}</td>
          <tr>
        {% endfor %}
    </table>
  </body>
</html>
