{% extends "base.html" %}
{% block content %}
  {% load humanize %}
  <div  class="container-fluid">
    <table class="table table-striped table-bordered">
      <thead class="thead-light">
        <tr>
          <!-- <th class="text-center">uid</th> -->
          <th class="text-center">日付</th>
          <!-- <th>グループID</th> -->
          <th class="text-center">借方勘定科目</th>
          <th class="text-center">借方金額</th>
          <th class="text-center">貸方勘定科目</th>
          <th class="text-center">貸方金額</th>
          <th class="text-center">特記事項</th>
        </tr>
      </thead>
      <tbody>
        {% for d in journal_list %}
          <tr>
            <!-- <td class="text-right">{{ d.id }}</td> -->
            <td class="text-center">{{ d.date }}</td>
            <!-- <td>{{ d.group_id }}</td> -->
            <td class="text-center">{{ d.br_name }}</td>
            <td class="text-right">{{ d.br_amount|intcomma }}</td>
            <td class="text-center">{{ d.cr_name }}</td>
            <td class="text-right">{{ d.cr_amount|intcomma }}</td>
            <td>{{ d.note }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
