{% extends "base.html" %}
{% block content %}
  <div  class="container-fluid">
    <form method="post" action="/">
      {% csrf_token %}
      <select name="year">
        {% for year in year_list %}
          <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
      </select>
     <input type="button" value="年のPLを表示する" onclick="moveYear()"/>
     <br />
     <br />
    </form>
  </div>
  <div  class="container-fluid">
    <table class="table table-hover table-striped table-bordered colla table-condensed">
      <thead class="thead-light">
        <tr>
          <th class="text-center">勘定科目</th>
          {% for m in month_list %}
            <th class="text-center" width="110">{{ m }}</th>
          {% endfor %}
        </tr>
      </thead>
      {% load humanize %}
      <tbody>
        {% for items in pl_list %}
          {% if items.acc_name == '費用計' %}
            <tr class="top-single-border">
          {% elif items.acc_name == '損益' %}
            <tr class="top-double-border">
          {% else %}
            <tr>
          {% endif %}
          <td class="top-single-border text-center">{{ items.acc_name }}</td>
          {% for amount in items.list %}
            <td class="text-right top-double-border" width="110">
              {% if amount < 0 %}
                <font color="red">
              {% elif items.budget > 0 and amount > items.budget %}
                <font color="orange">
              {% endif %}
              {{ amount|intcomma }}
              {% if amount < 0 %}</font>
              {% elif items.budget > 0 and amount > items.budget %}</font>
              {% endif %}
            </td>
          {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
{% block extra_js %}
  <script type="text/javascript">
    function moveYear(){
      window.location.href="{% url 'pl' %}"
       + $("select[name='year']").val();
    };
  </script>
{% endblock %}

{% block extra_css %}
  <style>
    th .top-single-border{
      border-top: solid;
    }
    th .top-double-border{
      border-top: double;
    }
    table .colla{
      border-collapse: collapse;
    }
  </style>
{% endblock %}
