{% extends "base.html" %}
{% block extra_js %}
    <script type='text/javascript'>
      function setDateInDTP(daydiff=0){
        var day = new Date();
        day.setDate(day.getDate() + daydiff);
        console.log(daydiff);
        var yyyy = day.getFullYear();
        var mm = ("0"+(day.getMonth()+1)).slice(-2);
        var dd = ("0"+day.getDate()).slice(-2);
        document.getElementById("journal_date").value=yyyy+'-'+mm+'-'+dd;
      };
    </script>
{% endblock %}
{% block content %}
  {% load humanize %}
  {% csrf_token %}
  <div class="container-fluid">
    <h3>{{ title_jp }}</h3>
    <a href="add">+ 登録する</a>
    <table class="table table-striped table-hover table-bordered table-condensed">
      <thead class="thead-light">
        <tr>
          <th class="text-center">uid</th>
          <th class="text-center">自動記帳</th>
          <th class="text-center">勘定科目名</th>
          <th class="text-center">相手勘定</th>
          <th class="text-center">支払金額（月額）</th>
          <th class="text-center">支払日</th>
          <th class="text-center">特記事項</th>
        </tr>
      </thead>
      <tbody>
        {% for values in regularly_payment_list %}
            <tr>
              <td class="text-right">{{ values.id }}</td>
              <td class="text-right">
                <input type="checkbox" disabled='disabled' {% if values.is_regist_automaticaly %} checked="checked" {% endif %} >
              </td>
              <td>{{ values.acc_name }}</td>
              <td>{{ values.acc_name_from }}</td>
              <td class="text-right">{{ values.amount_per_month|intcomma }}</td>
              <td>{{ values.payment_day }}</td>
              <td>{{ values.note }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="container-fluid">
    <form method="post" name="reg_regist_form" action="{% url 'regist_regularly_payment' %}">
      {% csrf_token %}
      <p>登録日の指定</p>
      <input type="date" name='reg_regist_date' id='reg_regist_date' value="{{ today_date }}" />
      <input type="submit" value="登録" name="reg_regist" />
    </form>
  </div>
{% endblock %}
