{% extends "base.html" %}
{% block content %}
  {% load humanize %}
  <div  class="container-fluid">
    <h3>{{ title_jp }}</h3>
    <form method="post" action="{% url 'regularly_regist' %}"> <!-- urlはurls.pyのnameに効くらしい -->
      {% csrf_token %}
      <table class="table table-striped table-hover table-bordered table-condensed">
        <thead class="thead-light">
          <tr>
            <th class="text-center">自動記帳</th>
            <th class="text-center">勘定科目名</th>
            <th class="text-center">引き落とし先</th>
            <th class="text-center">支払金額（月額）</th>
            <th class="text-center">支払日</th>
            <th class="text-center">特記事項</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td align="center"><input type="checkbox" name="is_auto" /></td>
            <td>
              <select name="acc_bot_uid">
                {% for key, valuelist in acc_list.items %}
                  <optgroup label="{{ key }}">
                    {% for val in valuelist %}
                      <option value='{{ val.uid }}'>{{ val.label }}/{{ val.value }}</option>
                    {% endfor %}
                  </optgroup>
                {% endfor %}
              </select>
            </td>
            <td>
              <select name="acc_bot_uid_from">
                {% for key, valuelist in acc_list.items %}
                  <optgroup label="{{ key }}">
                    {% for val in valuelist %}
                      <option value='{{ val.uid }}'>{{ val.label }}/{{ val.value }}</option>
                    {% endfor %}
                  </optgroup>
                {% endfor %}
              </select>
            </td>
            <td><input type="text" name="payment_day" /></td>
            <td><input type="text" name="amount_per_month" /></td>
            <td><input type="text" name="note" /></td>
          </tr>
        </tbody>
      </table>
      <input type="submit" value="登録" name='regist' onclick="return chkForm()" />
      <input type="reset" value="キャンセル" name='cancel' />
    </form>
    <p name="message"></p>
  </div>
{% endblock %}
{% block extra_js %}
  <script type='text/javascript'>
    function chkForm(){
      var intAmount = parseInt($("input[name='amount_per_month']").val();
      if isNaN(intAmount){
        $("p[name='message']").val() = '支払金額（月額）欄が不正です（０以外の正の整数を入力してください）';
        return false;
      }
      else if(intAmount == 0){
        $("p[name='message']").val() = '支払金額（月額）欄が不正です（０以外の正の整数を入力してください）';
        return false;
      }
      else{
        return true;
      }
    }
  </script>
{% endblock %}
