{% extends "base.html" %}
{% block extra_js %}
    <script type='text/javascript'>
    // TODO divide below script to another js-file.
      window.onload = function(){
        // TODO jsよりpythonのが得意そうだからdjangoから渡す
        setDateInDTP();
      }
    </script>
    <script type='text/javascript'>
      function setDateInDTP(daydiff=0){
        var day = new Date();
        day.setDate(day.getDate() + daydiff);
        console.log(daydiff);
        var yyyy = day.getFullYear();
        var mm = ("0"+(day.getMonth()+1)).slice(-2);
        var dd = ("0"+day.getDate()).slice(-2);
        document.getElementById("journal_date_id").value=yyyy+'-'+mm+'-'+dd;
      };
      // 金額入力欄の入力チェック（数字以外で背景をピンクにする）
      function chknum(obj){
        if(obj.value != ''){
          if(obj.value.match(/^[0-9,]+$/) ==null){
            if(!!obj.style) obj.style.backgroundColor='lightpink';
          }
          else{
            if(!!obj.style) obj.style.backgroundColor='white';
          }
        }
        else{
          if(!!obj.style) obj.style.backgroundColor='white';
        }
      };
      function chkForm(){

        //TODO 勘定科目が有効な場合のみ足す
        var br_sum =  (isNaN(parseInt($("input[name='br_1_a']").val()))? 0 : parseInt($("input[name='br_1_a']").val()))
                    + (isNaN(parseInt($("input[name='br_2_a']").val()))? 0 : parseInt($("input[name='br_2_a']").val()))
                    + (isNaN(parseInt($("input[name='br_3_a']").val()))? 0 : parseInt($("input[name='br_3_a']").val()))
                    + (isNaN(parseInt($("input[name='br_4_a']").val()))? 0 : parseInt($("input[name='br_4_a']").val()))
                    + (isNaN(parseInt($("input[name='br_5_a']").val()))? 0 : parseInt($("input[name='br_5_a']").val()))
        console.log("br_1_a = " + $("input[name='br_1_a']").val());
        console.log("br_sum = " + br_sum);

        var cr_sum =  (isNaN(parseInt($("input[name='cr_1_a']").val()))? 0 : parseInt($("input[name='cr_1_a']").val()))
                    + (isNaN(parseInt($("input[name='cr_2_a']").val()))? 0 : parseInt($("input[name='cr_2_a']").val()))
                    + (isNaN(parseInt($("input[name='cr_3_a']").val()))? 0 : parseInt($("input[name='cr_3_a']").val()))
                    + (isNaN(parseInt($("input[name='cr_4_a']").val()))? 0 : parseInt($("input[name='cr_4_a']").val()))
                    + (isNaN(parseInt($("input[name='cr_5_a']").val()))? 0 : parseInt($("input[name='cr_5_a']").val()))
        console.log("cr_sum = " + cr_sum);

        // 貸借の合計金額が０でなく、かつ一致したときのみページ遷移する
        if (br_sum != 0 && br_sum == cr_sum){
          return true;
        }
        else{
          //登録されない理由を返す
          $('.error').addClass('alert alert-danger')
          if (br_sum == 0){
            $("#error").text('登録に失敗しました（金額未入力）')
          }
          else if(br_sum != cr_sum){
            br_sum_forming = br_sum.toLocaleString();
            cr_sum_forming = cr_sum.toLocaleString();
            def_forming = (br_sum - cr_sum).toLocaleString();
            $("#error").text('登録に失敗しました（貸借合計不一致） 借方合計=' + br_sum_forming + ' 貸方合計=' + cr_sum_forming + ' 差額=' + def_forming);
          }
          // koko niha konai hazu ...
          else{
            $("#error").text('登録に失敗しました（原因不明）');
          }
          return false;
        }
      };
    </script>
    <script>
    $(function() {
    	//コンボボックス設定
    	$( "#combobox" ).combobox();

    	//セレクト要素の表示・非表示
    	$( "#toggle" ).click(function() {
    		$( "#combobox" ).toggle();
    	});
    });
    </script>
{% endblock %}

{% block content %}
      <!-- <input type="date" name = 'journal_date_name' id='journal_date' value='{{ today }}' /> -->
      <form method="post" name="journal_regist_form" action="regist/">
      <div class="container-fluid">
        <lable>日付</label>
        <input type="date" name='journal_date_name' id='journal_date_id' value="{{ journal_date_val }}" />
        <a class="btn btn-default border border-info small" onclick="setDateInDTP(-2)">一昨日</a>
        <a class="btn btn-default border border-info small" onclick="setDateInDTP(-1)">昨日</a>
        <a class="btn btn-default border border-info small" onclick="setDateInDTP()">今日</a>
      </div>
      <br />
      <div  class="container-fluid">
      {% csrf_token %}
        <table class="table table-bordered table-striped">
          <thead class="thead-light">
            <tr>
              <th class="text-center">借方勘定科目</th>
              <th class="text-center">借方金額</th>
              <th class="text-center">貸方勘定科目</th>
              <th class="text-center">貸方金額</th>
            </tr>
          </thead>
          <tbody>
            {% for i in i_list %} {# i_list = ['1','2','3','4','5'] #}
              <tr>
                  {% for borc in b_or_c %} {# b_or_c = ['br', 'cr'] #}
                  <td class="text-center">
                    <select name="{{ borc }}_{{ i }}_c">
                      {% for key, valuelist in listgroup.items %}
                        <optgroup label="{{ key }}">
                          {% for val in valuelist %}
                            <option value='{{ val.uid }}'>{{ val.label }}/{{ val.value }}</option>
                          {% endfor %}
                        </optgroup>
                      {% endfor %}
                    </select>
                  </td>
                  <td class="text-center">
                    <input type="text" name="{{ borc }}_{{ i }}_a" onblur="chknum(this)" />
                  </td>
                  {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      <label>コメントとか</label>
      <input type="text" name="note" cols="300" rows="3"/> <br />
      <div class="d-flex justify-content-center">
        <input type="submit" value="登録" name='regist' onclick="return chkForm()" />
        <input type="reset" value="キャンセル" name='cancel' />
      </div>
      {% if error %}
        <div class="alert alert-danger" role="alert">
      {% else %}
        <div class="error">
      {% endif %}
      <label id = "error"></label>
      </div>
      {% if message %}
        <div class="alert alert-success" role="alert"><p>{{ message }}</p></div>
      {% endif %}
    </form >
{% endblock %}
