<!DOCTYPE html>
<html>
  <head lang = 'ja'>
    <meta charset="utf-8">
    <title>{{ view_name }}</title>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="js/autocomplete_kana.js"></script>

    <script type='text/javascript'>
      window.onload = function(){
        // jsよりpythonのが得意そうだからdjangoから渡す
        var today = new Date();
        //today.setDate(today.getDate());
        var yyyy = today.getFullYear();
        var mm = ("0"+(today.getMonth()+1)).slice(-2);
        var dd = ("0"+today.getDate()).slice(-2);
        //console.log(yyyy+'-'+mm+'-'+dd); //デバッグ用
        document.getElementById("journal_date").value=yyyy+'-'+mm+'-'+dd;
      }
    </script>
    <script type='text/javascript'>
      $("input[name='br_1_a']").blur(function(){
        if( $(this).val() != ''){
          if( $(this).val().match(/^[0-9]+$/) == null){
            alart('数字を入力してください');
          }
        }
      });

      // 金額入力欄の入力チェック（数字以外で背景をピンクにする）
      function chknum(obj){
        if(obj.value != ''){
          if(obj.value.match(/^[0-9,]+$/) ==null){
            //alert('数字のみを入力してください');
            chknum[obj.name] = false;
            if(!!obj.style) obj.style.backgroundColor='lightpink';
          }
          else{
            if(!!obj.style) obj.style.backgroundColor='white';
            chknum[obj.name] = true;
          }
        }
        else{
          if(!!obj.style) obj.style.backgroundColor='white';
          chknum[obj.name] = true;
        }
      };
      function chkForm(){

        //TODO 勘定科目が有効な場合のみ足す
        var br_sum =  (isNaN(parseInt($("input[name='br_1_a']").val()))? 0 : parseInt($("input[name='br_1_a']").val()))
                    + (isNaN(parseInt($("input[name='br_2_a']").val()))? 0 : parseInt($("input[name='br_2_a']").val()))
                    + (isNaN(parseInt($("input[name='br_3_a']").val()))? 0 : parseInt($("input[name='br_3_a']").val()))
                    + (isNaN(parseInt($("input[name='br_4_a']").val()))? 0 : parseInt($("input[name='br_4_a']").val()))
                    + (isNaN(parseInt($("input[name='br_5_a']").val()))? 0 : parseInt($("input[name='br_5_a']").val()))
        console.log("br_1_a = " + $("input[name='br_1_a']").val());
        console.log("br_sum = " + br_sum);

        var cr_sum =  (isNaN(parseInt($("input[name='cr_1_a']").val()))? 0 : parseInt($("input[name='cr_1_a']").val()))
                    + (isNaN(parseInt($("input[name='cr_2_a']").val()))? 0 : parseInt($("input[name='cr_2_a']").val()))
                    + (isNaN(parseInt($("input[name='cr_3_a']").val()))? 0 : parseInt($("input[name='cr_3_a']").val()))
                    + (isNaN(parseInt($("input[name='cr_4_a']").val()))? 0 : parseInt($("input[name='cr_4_a']").val()))
                    + (isNaN(parseInt($("input[name='cr_5_a']").val()))? 0 : parseInt($("input[name='cr_5_a']").val()))
        console.log("cr_sum = " + cr_sum);

        // 貸借の合計金額が０でなく、かつ一致したときのみページ遷移する
        if (br_sum != 0 && br_sum == cr_sum){
          return true;
        }
        else{
          //登録されない理由を返す
          if (br_sum == 0){
            $("#error").text('登録に失敗しました（金額未入力）')
          }
          else if(br_sum != cr_sum){
            $("#error").text('登録に失敗しました（貸借合計不一致） br=' + br_sum + ' cr=' + cr_sum)
          }
          return false;
        }
      };
    </script>
    <script>
    $(function() {
    	//コンボボックス設定
    	$( "#combobox" ).combobox();

    	//セレクト要素の表示・非表示
    	$( "#toggle" ).click(function() {
    		$( "#combobox" ).toggle();
    	});
    });
    </script>
  </head>
  <body>
    <a href="/sdss/">input</a>
    <a href="/sdss/summary/">summary</a>
    <a href="/sdss/bs/">bs</a>
    <a href="/sdss/pl/">pl</a>
    <a href="/sdss/journal/">journal</a>
    <h1>{{ view_name }}</h1>
    <form method="post" name="journal_regist_form" action="regist/">
      {% csrf_token %}
      <!-- <input type="date" name = 'journal_date' id='journal_date' value='{{ today }}' /> -->
      <lable>日付</label>
      <input type="date" name = 'journal_date' id='journal_date' value="{{ journal_date }}" />
      <div class="ui-widget">
        <table>
          <tr>
            <th>借方勘定科目</th>
            <th>借方金額</th>
            <th>貸方勘定科目</th>
            <th>貸方金額</th>
          </tr>
          <tr>
              <td>
                <select name="br_1_c">
                  {% for key, valuelist in listgroup.items %}
                    <optgroup label="{{ key }}">
                      {% for val in valuelist %}
                        <option value='{{ val.uid }}'>{{ val.label }}/{{ val.value }}</option>
                      {% endfor %}
                    </optgroup>
                  {% endfor %}
                </select>
              </td>
              <td>
                <input type="text" name="br_1_a" onblur="chknum(this)" />
              </td>
            <td>
              <select name="cr_1_c">
                {% for key, valuelist in listgroup.items %}
                  <optgroup label="{{ key }}">
                    {% for val in valuelist %}
                      <option value='{{ val.uid }}'>{{ val.label }}/{{ val.value }}</option>
                    {% endfor %}
                  </optgroup>
                {% endfor %}
              </select>
            </td>
            <td>
              <input type="text" name="cr_1_a" onblur="chknum(this)" />
            </td>
          </tr>
          <tr>
            <td>
              <select name="br_2_c">
                {% for key, valuelist in listgroup.items %}
                  <optgroup label="{{ key }}">
                    {% for val in valuelist %}
                      <option value='{{ val.uid }}'>{{ val.label }}/{{ val.value }}</option>
                    {% endfor %}
                  </optgroup>
                {% endfor %}
              </select>
            </td>
            <td>
              <input type="text" name="br_2_a" onblur="chknum(this)" />
            </td>
            <td>
              <select name="cr_2_c">
                {% for key, valuelist in listgroup.items %}
                  <optgroup label="{{ key }}">
                    {% for val in valuelist %}
                      <option value='{{ val.uid }}'>{{ val.label }}/{{ val.value }}</option>
                    {% endfor %}
                  </optgroup>
                {% endfor %}
              </select>
            </td>
            <td>
              <input type="text" name="cr_2_a" onblur="chknum(this)" />
            </td>
          </tr>
          <tr>
            <td>
              <select name="br_3_c">
                {% for key, valuelist in listgroup.items %}
                  <optgroup label="{{ key }}">
                    {% for val in valuelist %}
                      <option value='{{ val.uid }}'>{{ val.label }}/{{ val.value }}</option>
                    {% endfor %}
                  </optgroup>
                {% endfor %}
              </select>
            </td>
            <td>
              <input type="text" name="br_3_a" onblur="chknum(this)" />
            </td>
            <td>
              <select name="cr_3_c">
                {% for key, valuelist in listgroup.items %}
                  <optgroup label="{{ key }}">
                    {% for val in valuelist %}
                      <option value='{{ val.uid }}'>{{ val.label }}/{{ val.value }}</option>
                    {% endfor %}
                  </optgroup>
                {% endfor %}
              </select>
            </td>
            <td>
              <input type="text" name="cr_3_a" onblur="chknum(this)" />
            </td>
          </tr>
          <tr>
            <td>
              <select name="br_4_c">
                {% for key, valuelist in listgroup.items %}
                  <optgroup label="{{ key }}">
                    {% for val in valuelist %}
                      <option value='{{ val.uid }}'>{{ val.label }}/{{ val.value }}</option>
                    {% endfor %}
                  </optgroup>
                {% endfor %}
              </select>
            </td>
            <td>
              <input type="text" name="br_4_a" onblur="chknum(this)" />
            </td>
            <td>
              <select name="cr_4_c">
                {% for key, valuelist in listgroup.items %}
                  <optgroup label="{{ key }}">
                    {% for val in valuelist %}
                      <option value='{{ val.uid }}'>{{ val.label }}/{{ val.value }}</option>
                    {% endfor %}
                  </optgroup>
                {% endfor %}
              </select>
            </td>
            <td>
              <input type="text" name="cr_4_a" onblur="chknum(this)" />
            </td>
          </tr>
          <tr>
            <td>
              <select name="br_5_c">
                {% for key, valuelist in listgroup.items %}
                  <optgroup label="{{ key }}">
                    {% for val in valuelist %}
                      <option value='{{ val.uid }}'>{{ val.label }}/{{ val.value }}</option>
                    {% endfor %}
                  </optgroup>
                {% endfor %}
              </select>
            </td>
            <td>
              <input type="text" name="br_5_a" onblur="chknum(this)" />
            </td>
            <td>
              <select id="combobox" name="cr_5_c">
                {% for key, valuelist in listgroup.items %}
                  <optgroup label="{{ key }}">
                    {% for val in valuelist %}
                      <option value='{{ val.uid }}'>{{ val.label }}/{{ val.value }}</option>
                    {% endfor %}
                  </optgroup>
                {% endfor %}
              </select>
            </td>
            <td>
              <input type="text" name="cr_5_a" onblur="chknum(this)" />
            </td>
          </tr>
        </table>
      </div>

      <label>コメントとか</label>
      <input type="text" name="note" cols="100" rows="3"/> <br />
      <input type="submit" value="登録" name='regist' onclick="return chkForm()"/>
      <input type="reset" value="キャンセル" name='cancel'/>
      <br / >
      <br / >
      <label id = "error"></label><br />
      <label id = "status">{{ message }}</label>
    </form >
  </body>
</html>
