{% extends "base.html" %}
{% block content %}
  <form method="post" action="/">
    {% csrf_token %}
    <select name="year">
    {% for year in year_list %}
      <option value="{{ year }}">{{ year }}</option>
    {% endfor %}
    </select>
    <input type="button" value="ok" onclick="moveYear()"/>
  </form>
  <div>
    <canvas id="myChart"></canvas>
  </div>
{% endblock %}
{% block extra_js %}
  <script type="text/javascript">
    function moveYear(){
      window.location.href=$("select[name='year']").val();
    };
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script>
    new Chart(document.getElementById("myChart"),{
      type: "line",
      data: {
        labels: {{ label | safe }},
        datasets: [
          {
            label: "現金",
            fill: false,
            borderColor: "rgba(0,135,135,10)",
            data: {{ suii_list | safe }},
          }
        ],
      },
    });
  </script>
  {% endblock %}
