{% extends "base.html" %}
{% block content %}
  <table>
    <tr>
      <th>勘定科目</th>
      {% for m in month_list %}
        <th>{{ m }}</th>
      {% endfor %}
    </tr>
    <tr><td colspan="13">BS summary</td></tr>
    {% load humanize %}
    {% for k, v in bs_list.items %}
      <tr>
        <td>{{ k }}</td>
        {% for amount in v %}
          <td align="right">{{ amount|intcomma }}</td>
        {% endfor %}
      <tr>
    {% endfor %}
    <tr></tr>
    <tr><td colspan="13">PL summary</td></tr>
    {% for k, v in pl_list.items %}
      <tr>
        <td>{{ k }}</td>
        {% for amount in v %}
          <td align="right">
            {% if amount < 0 %}<font color="red">{% endif %}
            {{ amount|intcomma }}
            {% if amount < 0 %}</font>{% endif %}
          </td>
        {% endfor %}
      <tr>
    {% endfor %}
  </table>
{% endblock %}
